<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <form enctype="multipart/form-data" action="/upload" method="post">
        <!-- django 的csrf 防御机制 -->
        {%csrf_token%}
        <input type="file" name="myfile" />
        <br>
        <input type="submit" value="上传文件" />
    </form>
    <form enctype="multipart/form-data" action="/file_name" method="post">
        <!-- django 的csrf 防御机制 -->
        {%csrf_token%}
        <input type="text" name="file_name" />
        <br>
        <input type="submit" value="提交文件名称" />
        </br>
    </form>
</body>
</html>